@theme {
  --font-sans: "Nunito_400Regular", "System";
  --font-nunito: "Nunito_400Regular";
  --font-nunito-bold: "Nunito_700Bold";
  --font-nunito-extrabold: "Nunito_800ExtraBold";
  --font-nunito-black: "Nunito_900Black";
}
